{{#extends 'base'}}
{{#block 'content'}}
<ul>
    <h1>Comments for {{cuisine.name}}</h1> 
    {{#each cuisine.comments}}
    <li>{{this.username}}, ({{this.comments}}, {{this._id}}</li>
    <a class="btn btn-success" href="">Edit</a>
    <a class="btn btn-danger" href="">Delete</a>

    {{/each}}
</ul>
{{/block}}
{{/extends}}