{{#extends 'base'}}
{{#block 'content'}}
<form method='POST'>
    <div class='p-3'>
        Are you sure you want to delete {{cuisine.name}}?
    </div>
    <input type='submit' class='btn btn-danger m-3' value='Yes'>
    <a class="btn btn-success" href="/cuisines">Cancel</a>
</form>
{{/block}}
{{/extends}}