{{#extends 'base'}}
{{#block 'head'}}All Ingredients{{/block}}

{{#block 'content'}}


<table class="table">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Ingredient ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#each everything}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this._id}}</td>
        <td><a href="/ingredients/{{ this._id }}/update" class="btn btn-primary mr-2">Edit</a><a href="/ingredients/{{ this._id }}/delete" class="btn btn-danger text-light">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>


{{/block}}
{{/extends}}